body{
    font-family: 'DM Sans', sans-serif;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}

.header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 47px;
}

.header_flex, .footer_flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 53px 0 52px;
}

.nav_li{
    display: inline-block;
    }
.nav_li:not(:first-of-type){
    margin-left: 49px;
}

.nav_link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 300ms;
}

.button{
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
 }

.button_orange{
    background: #FF7143;
}
.button_orange:hover{
    background: #fd8963;
    transition: 500ms;
}

.button_violet{
    background: #5454D4;
    margin-right: 35px;
}
.button_violet:hover{
    background: #7777d3;
    transition: 500ms;
}

.button_trans{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    border-radius: 10px;
}
.button_trans:hover{
    background: #ededf7;
    transition: 500ms;
}

.about{
    margin: 104px auto 85px;
}
.about_title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about_text{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    margin-bottom: 50px;
}